html {
	background-color: #0d1f22;
	color: #f3dfc1;
}
#header {
	display: flex;
	flex-direction: row;
	height: 10vh;
	align-items: center;
}

#view_switch {
	height: 8vh;
	width: 8vw;
	background-color: #368f8b;
	color: #f3dfc1;
}
#view_switch:hover {
	border-color: #8d5b4c 4px solid;
	background-color: #23625f;
	width: 8.2vw;
	height: 8.2vh;
	transition: 0.1s;
}

#icon {
	width: 10vw;
}
#rider_info {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border: #f3dfc1 4px solid;
	background-color: #8d5b4c;
	width: 90vw;
}

.info_div {
	margin: 1.5vh;
}

#datetime {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.time_resistance {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 20vw;
}
#current_values {
	width: 47.5vw;
	display: flex;
	justify-content: space-evenly;
}
#upper_body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 45vh;
}
#lower_body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 45vh;
}
#power_graph,
#heart_rate_graph,
#rpm_graph {
	width: 47.5vw;
	height: 45vh;
}
.js-plotly-plot {
	height: 40vh;
	width: auto;
}

#upper_recent_body {
	display: flex;
	flex-direction: row;
	height: 25vh;
}
#lower_recent_body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	height: 65vh;
	width: 100vw;
}

.shares {
	width: 33vw;
}

/* Containers of info on the recent page */
.bit {
	display: flex;
	flex-direction: column;
	border: #f3dfc1 4px solid;
	width: 15vw;
	text-align: center;
	background-color: #8d5b4c;
}
#bit_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
}

#current_values {
	display: flex;
	flex-direction: row;
	text-align: center;
}
