#header {
	display: flex;
	flex-direction: row;
	height: 10vh;
	align-items: center;
}

#rpm,
#time_resistance {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#upper_body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 45vh;
}
#lower_body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 45vh;
}
#upper_recent_body {
	display: flex;
	flex-direction: row;
	height: 25vh;
}
#lower_recent_body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 45vh;
	width: 100vw;
}

.shares {
	width: 33vw;
}
#bit_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
}
